@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    /*font-family: 'Nunito', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

body {
    /* Com isso removeu o scroll inicial que estava criando */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    /* Com isso o overflow hidden funcionou para as bolas */
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #3f3f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bola {
    background-color: #f9526c;
    border-radius: 100%;
    position: absolute;
}

.um {
    width: 300px;
    height: 300px;
    left: -15px;
    top: -150px;
}

.dois {
    width: 150px;
    height: 150px;
    right: 50px;
    top: -35px;
}

.tres {
    width: 70px;
    height: 70px;
    right: 0px;
    top: -35px;
}

.quatro {
    width: 300px;
    height: 300px;
    right: -15px;
    bottom: -150px;
}

.cinco {
    width: 150px;
    height: 150px;
    left: 50px;
    bottom: -35px;
}

.seis {
    width: 70px;
    height: 70px;
    left: 0px;
    bottom: -35px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    color: white;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}

form {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

form input {
    background-color: #373737;
    color: #f9526c;
    padding: 10px 5px;
    font-size: 1.2em;
    border: none;
}

p {
    margin: 0;
}

form > p {
    margin: 16px;
}

#horario {
    color: white;
    font-weight: 100;
    align-self: center;
}

button {
    background-color: #f9526c;
    font-size: 1.1em;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #fa3c5c;
}

.erro {
    color:#f36565;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sucesso {
    color:#70d170;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Quando a tela for menor que 425 pixels faz essas alterações */
@media only screen and (max-width: 425px){
    
    .um {
        width: 70vw;
        height: 70vw;
        left: -15px;
        top: -150px;
    }

    .dois {
        width: 30vw;
        height: 30vw;
        right: 50px;
        top: -35px;
    }

    .tres {
        width: 15vw;
        height: 15vw;
        right: 0px;
        top: -35px;
    }

    .quatro {
        width: 70vw;
        height: 70vw;
        right: -15px;
        bottom: -150px;
    }

    .cinco {
        width: 30vw;
        height: 30vw;
        left: 50px;
        bottom: -35px;
    }

    .seis {
        width: 15vw;
        height: 15vw;
        left: 0px;
        bottom: -35px;
    }
}

@media only screen and (max-width: 635px){
    .um-dois {
        background-color: #f9526c;
        border-radius: 100%;
        position: absolute;
        width: 30vw;
        height: 30vw;
        right: 160px;
        top: -35px;
    }
    .dois {
        width: 25vw;
        height: 25vw;
        right: 50px;
        top: -45px;
    }

    .seis-dois {
        background-color: #f9526c;
        border-radius: 100%;
        position: absolute;
        width: 30vw;
        height: 30vw;
        left: 160px;
        bottom: -35px;
    }
    .cinco {
        width: 25vw;
        height: 25vw;
        left: 50px;
        bottom: -45px;
    }
}